<wraprec>
  <models>
    <model id="rp" class="MediaLiteRatingPrediction">
      <parameters ml-class="MatrixFactorization" k="5,10,20" numIter="30"/>
    </model>
  </models>
  <data>
		<dataReaders>
			<reader id="ml-reader" class="CsvReader" hasHeader="true" delimiter="::" />
		</dataReaders>
		<dataFiles>
			<dataFile id="ml1m-train" type="train" contains="ratings" path="D:\Dropbox\Datasets\ML1M\train.txt" reader="ml-reader" />
			<dataFile id="ml1m-test" type="test" contains="ratings" path="D:\Dropbox\Datasets\ML1M\train.txt" reader="ml-reader" />
			<dataFile id="ml1m-users" type="other" contains="userContext" path="D:\Dropbox\Datasets\ML1M\users.txt" reader="ml-reader" />
		</dataFiles>
		<dataContainers>
			<dataContainer id="ml" contains="ml1m-train,ml1m-test" />
		</dataContainers>
  </data>
  <splits>
    <split id="ml1m-fixed" type="static" dataContainer="ml" />
    <split id="ml1m-dynamic" type="dynamic" dataContainer="ml" trainPortion="0.75" />
    <split id="ml1m-cv" type="crossValidation" dataContainer="ml" folds="5" />
    <split id="ml1m-custom" type="custom" dataContainer="ml" class="CustomSplitter" />
  </splits>
  <evalContexts>
    <evalContext id="rating-default">
      <evaluator class="RMSE" />
      <evaluator class="MAE" />
    </evalContext>
  </evalContexts>
  <expriments run="ml-test" resultsFolder="D:\Dropbox" separator="\t" verbosity="info">
    <experiment id="ml-test" models="rp" splits="ml1m-cv" evalContext="rating-default" />
    <experiment id="ml-test-cust" models="rp" splits="ml1m-cv" evalContext="rating-default" class="ExpCustom" />
  </expriments>
</wraprec>